.table_style {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    overflow: scroll;
}

.table_style th, .table_style td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table_style thead {
    background-color: #f2f2f2;
}

.table_style tbody tr {
    border-bottom: 1px solid #ddd;
}

.table_style tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table_style tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}