.modal__background {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    width: 40vw;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    overflow-y: scroll;
}