.modal__background{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}